*.pyc
__pycache__/
.ipynb_checkpoints
venv/
tmp/
.env
*.swp
*.egg-info
dist/*
*.pickle
*.so
*.pyd
.s.yml

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/

*/models-data/*

.vscode

scratchpad/

*/node_modules/*
docs/dist
js/dist
