name: JS - publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'js-v[0-9]+.[0-9]+.[0-9]+'
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # pin@v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # pin@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Build
        working-directory: js
        run: |
          yarn
          yarn run build
          yarn run test
      - name: Publish
        working-directory: js
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
