name: Rust - test

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:
    paths:
      - '.github/workflows/**'
      - 'python/magika/config/**'
      - 'python/magika/models/**'
      - 'rust/**'
      - 'tests_data/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # pin@v4
      - run: rustup install stable nightly
      - run: rustup component add rustfmt clippy
      - run: rustup target add aarch64-apple-darwin x86_64-pc-windows-msvc
      - run: ./test.sh
        working-directory: rust
