name: Rust - test

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    paths:
      - ".github/workflows/rust-*"
      - "assets/**"
      - "rust/**"
      - "tests_data/**"

permissions:
  contents: read

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
        with:
          fetch-depth: 0
      - run: ./changelog.sh
        working-directory: rust
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.toolchain == 'nightly' }}
    strategy:
      matrix:
        toolchain: [stable, nightly]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup component add rustfmt clippy
      - run: ./test.sh
        working-directory: rust
  run:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
      - run: cargo build --release
        working-directory: rust/cli
      - run: rust/target/release/magika -r tests_data/basic
